---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Poster from '../components/Poster.svelte';
---

<Layout  title="Kerala Startup Mission">
	
	<div class="p-5 bg-green-200 min-h-screen">
		<Poster client:load>
	</div>

</Layout>

